.navbar {
  background-color: #FFF;
  min-height:50px;
}

.navbar-nav > li > a, .navbar-brand {
    max-height: 60px;
}

.navbar-brand {
  padding: 0;
}

a { color: #156711; }
a:hover { color: #5AAC56; }

#map_canvas img {
  max-width: none;
}

#map_canvas {
  position: absolute;
  left: 0; 
  top: 0; 
  width: 100%;  
  height:100%;
  z-index: 0; 
}

.mute { font-size: 8pt;
}

label { font-weight: normal}

p { text-align: justify;

}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
}

.footer p { text-align: center;
}

.container {
	width: auto;
	max-width: 70%;
	padding-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 0;
}
.container .text-muted {
  margin: 20px 0;
}


.filter-box { 
  height: 15px; 
  width: 15px;  
  display: inline-block;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

.filter-yellow { background-color: #FBF358; }
.filter-green { background-color: #00E13C; }
.filter-blue { background-color: #5781FC; }
.filter-purple { background-color: #7C54FB; }
.filter-red { background-color: #FB6353; }

canvas {-ms-touch-action: double-tap-zoom;}

/* customizations for iframe template */
.iframe #map_canvas { height: 500px; }
.iframe .well { margin-bottom: 5px; }
.iframe .alert { margin-top: 5px; }

.navbar { margin-bottom:0;
}

.search-panel
{
    font-size: 1em;
    position: absolute;
    max-width: 35%;
    padding-left:15px;
    padding-top : 15px ;
    z-index: 10;
    border-style:none;
    background:transparent;
    background-image/**/: none;
    opacity: 0.9;
    filter: alpha(opacity=50);
}

.googft-info-window {
  font-size: 1em;
  margin : 0;
}

.orc-img {
  float:right;
  padding-left:15px;
  padding-right: 0;
  max-width: 200px;
}

.disclaimer {
  text-align: center;
  font-style:italic;
  font-weight: none;
  padding-top: 1em;
  font-size: 0.8em;
}

.disclaimer p {
  text-align: center;
}

.beta img { 
  height: 50px;
  float:left;
}

/* Social media buttons in the map */
.map_social_media {
  width: 100%;
  margin-bottom: 15px;  
}
.map_social_media .buttons {
  float:right;
}